<form class="mt-4" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Seacrh</label>
    <input type="text" name ="q" class="form-control" id="exampleInputEmail1" placeholder="Tìm kiếm">
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">Seacrh</label>
    <select name="gender" id="gender" class="form-control">
        <option value="">__Select__</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Find</button>
</form>